/**
 * @file
 * companian file for panel.css file.
 */
/* line 10, ../sass/panel.scss */
.panel-pane .pane-content .container-inline,
.pane-block .pane-content .container-inline,
.pane-search-form .pane-content .container-inline {
  margin: 3%;
}

/* line 16, ../sass/panel.scss */
.home-content-above {
  margin-top: 1%;
}

/* line 22, ../sass/panel.scss */
.facebook-likebox-div .pane-title,
.twitter-likebox-div .pane-title {
  display: none;
}
