/**
 * @file
 * companian file for panel.css file.
 */
 
 .panel-pane,
 .pane-block,
 .pane-search-form {
    .pane-content {
        .container-inline {
        margin: 3%;
       } 
    }
 }
 
  .home-content-above {
     margin-top: 1%;
    }
  
   .facebook-likebox-div {
        .pane-title {
              font-size: .9em;
              color: #3b5998;
            }
      }
      
    .twitter-likebox-div {
        .pane-title {
              font-size: .9em;
              color: #019ad2;;
            }
      }        